<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ThirdWay RSS Reader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body hx-boost="true">
<header class="fixed-top">
    <div class="display-left">
        <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="text-decoration-none">
            <i class="fa-solid fa-bars text-white"></i>
        </a>
    </div>
    <div class="display-right">
        <form method="post" action="/Feed/RefreshAll" style="display: inline;">
            <input type="hidden" name="redirectUrl" value="@ViewData["CurrentUrl"]" />
            <button type="submit" class="btn btn-link" aria-label="Refresh Data" title="Refresh Data">
                <i class="fa-solid fa-arrows-rotate gold-txt"></i>
            </button>
        </form>
        <form method="get" action="/Post/Search">
            <input type="text" name="query" placeholder="Search" class="input-fc secondary-bg white-txt">
            <button type="submit" class="btn btn-link" aria-label="Refresh Data" title="Refresh Data">
                <i class="fa-solid fa-search gold-txt"></i>
            </button>
        </form>
    </div>
</header>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show shadow">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <a href="@Url.Action("All", "Post")" class="border-end-0 d-inline-block text-truncate navLink" data-bs-parent="#sidebar">
                        <i class="fa-regular fa-folder-open gold-txt"></i> <span>All</span>
                    </a>
                    <a href="@Url.Action("Unread", "Post")" class="border-end-0 d-inline-block text-truncate navLink" data-bs-parent="#sidebar">
                        <i class="fa-regular fa-envelope gold-txt"></i> <span>Unread</span>
                    </a>
                    <a href="@Url.Action("Favorite", "Post")" class="border-end-0 d-inline-block text-truncate navLink" data-bs-parent="#sidebar">
                        <i class="fa-regular fa-star gold-txt"></i> <span>Favorites</span>
                    </a>
                    <a href="@Url.Action("Index", "Feed")" class="border-end-0 d-inline-block text-truncate navLink" data-bs-parent="#sidebar">
                        <i class="fa-solid fa-rss gold-txt"></i> <span>Manage Feeds</span>
                    </a>

                </div>
            </div>
        </div>
        <main class="col ps-2 pt-2">
            @RenderBody()
        </main>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

