@model FeedViewModel

<div class="full-container top-margin-20">
    <h1 class="centered white-txt">@ViewData["Title"]</h1>
    <hr class="titleSeparator bottom-margin-20">
    <div class="row">
        <div class="col-12">
            <h1 class="article-title white-txt">Add Feed</h1>
        </div>
        <form method="post" class="row g-3">
            <div class="col-auto">
                @Html.LabelFor(m => m.NewUrl, new {@class="col-form-label"})
            </div>
            <div class="col-auto">
                @Html.TextBoxFor(m => m.NewUrl, new {@class="form-control form-control-lg", type="url"})
                @Html.ValidationMessageFor(m => m.NewUrl, "", new {@class="text-danger"})
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-light btn-lg" aria-label="Add Feed" title="Add Feed">
                    <i class="fa-regular fa-plus"></i> Add Feed
                </button>
            </div>
        </form>
    </div>
    <hr class="white-txt top-margin-20 bottom-margin-20">
    @if (Model?.Feeds != null)
    {
        @foreach (var feed in Model.Feeds)
        {
            <div class="row feedEntry" id="Feed-@feed.Id">
                <div class="col-12">
                    <h1 class="article-title white-txt">@feed.Title</h1>
                    <p class="gold-txt">@feed.LastUpdated.ToShortDateString()</p>
                    <p class="article-desc white-txt">@feed.Description</p>
                    <div class="article-options">
                        <div class="shareIcons">
                            <form method="post" action="/Feed/Id/@feed.Id/DeleteFeed" style="display: inline;">
                                <button type="submit" 
                                        class="btn btn-link" 
                                        aria-label="Delete Feed" 
                                        title="Delete Feed"
                                        hx-delete="/Feed/Id/@feed.Id"
                                        hx-target="closest div.feedEntry"
                                        hx-swap="outerHTML swap:1s"
			                            hx-confirm="Are you sure you want to delete this feed?">
                                    <i class="fa-solid fa-trash gold-txt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="white-txt top-margin-20 bottom-margin-20">
            </div>
        }
    }
</div>